NEXT_PUBLIC_SUPABASE_URL=https://udlwvviwbrzfkczgusnl.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_3ee2j4bm9Ql8W5vR06daaA_tpQwJMBt
SUPABASE_SERVICE_ROLE_KEY=
DERIV_APP_ID=34skSPZ3n2E7EGQzBjQnF
DERIV_DEMO_TOKEN=
REAL_MONEY_ENABLED=false
